@model IEnumerable<DSProyectoHH.Web.Data.Entities.GradeGridTemp>

@{
    ViewData["Title"] = "Nueva Lista";
}

<h1>Nueva Lista</h1>
<p>
    <a asp-action="AddStudent" class="btn btn-dark">Agregar Alumno</a>
    <a asp-action="SaveList" class="btn btn-dark">Guardar Lista</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.User.FullName)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.User.FullName)
                </td>
                <td>
                    <a asp-action="DeleteStudent" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
