@model IEnumerable<DSProyectoHH.Web.Data.Entities.ClassParticipation>

@{
    ViewData["Title"] = "Participación en Clase";
}

<h1>Participación en Clase</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Crear nueva participación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Listening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpokenInteraction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpokenProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fluency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Listening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpokenInteraction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpokenProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fluency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
