@model IEnumerable<DSProyectoHH.Web.Data.Entities.GradeGrid>
@{
    ViewData["Title"] = "Listas de Calificaciones";
}

<h1>Listas de Calificaciones</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Crear nueva lista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FinalProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Units)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalProject.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

