@model IEnumerable<DSProyectoHH.Web.Data.Entities.OralQuiz>

@{
    ViewData["Title"] = "Examen Oral";
}
<link href="~/css/estilo-home.css" type="text/css" rel="stylesheet" />

<h1>Examen Oral</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Crear nuevo examen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Communication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grammar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vocabulary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conversations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fluency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Communication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grammar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vocabulary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conversations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fluency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
