@model DSProyectoHH.Web.Data.Entities.CourseType

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Tipos de Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frequency.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.StartingHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.StartingHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.EndingHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.EndingHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-secondary">Regresar a la lista</a>
</div>
