@model IEnumerable<DSProyectoHH.Web.Data.Entities.Student>

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>Estudiante(s)</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Crear nuevo estudiante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AdmissionDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionDate)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@Url.Content(item.ImageUrl)" style="width:100px; height:auto;" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a> | 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
