@model DSProyectoHH.Web.Data.Entities.WrittenQuiz

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que quieres eliminar este examen?</h3>
<div>
    <h4>Examen Escrito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionF)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Regresar a la lista</a>
    </form>
</div>
